<% wrap_layout :layout do %>
  <div id="Stories_dropdown" class="Dropdown">
    <h2>Other stories</h2>
    <ul class="cards">
    <% page_articles.each_with_index do |article, i| %>
      <% if article.title != current_article.data.title %>
        <li>
          <% link_to article, class: "link" do %>
          <% dimensions = '500x500' %>
          <% backgroundImagePath = article.data.folder + '/cover.jpg' %>
          <%= image_tag backgroundImagePath, resize_to: dimensions, class: 'thumb' %>

          <div class="inner">
            <span><%= article.date.strftime('%b %e') %> · <%= article.data.location %></span>
            <h3><%= article.title %></h3>
            <% if article.data.subheader %>
              <p><%= article.data.subheader %></p>
            <% end %>
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div id="Chapter_dropdown" class="Dropdown">
    <h2>Chapters</h2>
    <ul></ul>
  </div>
  <nav class="sticky">
    <a class="back" href='#'>
      <div class="bubble"></div>
      <div class="grid">
        <span class="tl"></span>
        <span class="tr"></span>
        <span class="bl"></span>
        <span class="br"></span>
      </div>
    </a>
    <h3><%= current_article.data.title %><span></span></h3>

    <div class="rightTools">
      <div class="count">
        <a href="#"></a>
      </div>
    </div>
  </nav>
  <article>
    <section class="Header" id="Header">
      <div class="header_wrap">
        <% image_path = '/images/' %>
        <% cover_path = '/cover.jpg' %>
        <% dimensions = '2000x2000' %>
        <% imageURL = image_path image_path + current_article.data.folder + cover_path, resize_to: dimensions %>
        <div class="Header--bg" style="background-image: url(<%= imageURL %>)"></div>
        <div class="Header--copy">
          <div class="Wrapper">
            <h1><%= current_article.title %></h1>
            <% if current_article.data.subheader %>
              <p><%= current_article.data.subheader %></p>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div id="Gallery--wrap" itemscope itemtype="http://schema.org/ImageGallery">
      <%= yield %>
    </div>
  </article>
<% end %>

<footer>
  <div class="Wrapper">
    <% prev_article = current_article.article_previous %>
    <% if prev_article %>
      <a href="<%= prev_article.url %>" class="prev" rel="prev" title="Previous article: <%= prev_article.title %>"> <span>Previous: </span><%= prev_article.title %></a>
    <% end %>

    <% next_article = current_article.article_next %>
    <% if next_article %>
      <a href="<%= next_article.url %>" class="next" rel="next" title="Next article: <%= next_article.title %>"> <span>Next: </span><%= next_article.title %></a>
    <% end %>
  </div>
</footer>
