---
title: "Mexico City"
date: 2017-06-08
subheader: "A trip to Mexico City with the beautiful Madison Oie and fam"
header: "mexico.jpg"
location: Mexico City
folder: mexico
---

<% folder = current_article.data.folder %>
<%= partial(:headline, :locals => { :copy => "Prologue" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit, dapibus imperdiet risus. Vestibulum auctor nibh nec vulputate dignissim. Integer at fringilla urna. In hac habitasse platea dictumst. Curabitur viverra pharetra luctus. Maecenas aliquam magna non metus tempor, non blandit lacus sollicitudin. Fusce commodo sed dolor eu tristique." }) %>

<div class="divider"></div>

<%= partial(:quad, :locals => { :image_one => folder + "/DSC01764.jpg", :image_two => folder + "/IMG_1714.jpg", :image_three => folder + "/DSC01752.jpg", :image_four => folder + "/DSC01765.jpg", :caption => "Deep purples and greens"}) %>

<%= partial(:subheader, :locals => { :copy => "And another" }) %>
<%= partial(:text_two_col, :locals => { :col_one_copy => "Frontmatter must come at the very top of the template and be separated from the rest of the content by a leading and trailing triple hyphen ---. Inside this block, you can create new data which will be available in the template using the current_page.data hash.", :col_two_copy =>  "My Title becomes current_page.data.title. The layout setting will pass directly to Middleman and change which layout is being used for rendering. You can also set ignored, directory_index, and some other page properties in this way."}) %>
<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC01525.jpg", :height => 900, :focus => "bottom" }) %>
<%= partial(:quad, :locals => { :image_one => folder + "/DSC02088.jpg", :image_two => folder + "/DSC02206.jpg", :image_three => folder + "/DSC02200.jpg", :image_four => folder + "/DSC02122.jpg", :caption => "Amarillo en las calles"}) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit, dapibus imperdiet risus. Vestibulum auctor nibh nec vulputate dignissim. Integer at fringilla urna. In hac habitasse platea dictumst. Curabitur viverra pharetra luctus. Maecenas aliquam magna non metus tempor, non blandit lacus sollicitudin. Fusce commodo sed dolor eu tristique." }) %>
<%= partial(:triplet, :locals => { :image_one => folder + "/DSC01708.jpg", :image_two => folder + "/DSC01709.jpg", :image_three => folder + "/DSC01712.jpg", :caption => "Not pictured: the plastic bag of jugos de coco"}) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit, dapibus imperdiet risus. Vestibulum auctor nibh nec vulputate dignissim. Integer at fringilla urna. In hac habitasse platea dictumst. Curabitur viverra pharetra luctus. Maecenas aliquam magna non metus tempor, non blandit lacus sollicitudin. Fusce commodo sed dolor eu tristique." }) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "left", :image_one => folder + "/DSC01542.jpg", :image_two => folder + "/DSC01549.jpg", :caption => "mmkay"}) %>
<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC01886.jpg", :height => 900, :focus => "bottom" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit." }) %>
<%= partial(:half, :locals => { :image_one => folder + "/DSC02076b.jpg", :image_two => folder + "/DSC02079.jpg"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Jungle Vibes" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit." }) %>
<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/DSC01514.jpg", :image_two => folder + "/DSC01530.jpg"}) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit, dapibus imperdiet risus. Vestibulum auctor nibh nec vulputate dignissim. Integer at fringilla urna. In hac habitasse platea dictumst." }) %>
<%= partial(:triplet, :locals => { :image_one => folder + "/DSC01563.jpg", :image_two => folder + "/DSC02114.jpg", :image_three => folder + "/DSC01752.jpg"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Oh, the markets" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>
<%= partial(:triplet, :locals => { :image_one => folder + "/DSC01780.jpg", :image_two => folder + "/DSC01794.jpg", :image_three => folder + "/DSC01772.jpg", :height => 630}) %>
<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/DSC01793.jpg", :image_two => folder + "/cover.jpg", :caption => "Skull party"}) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat. Vivamus libero lorem, vulputate tincidunt mauris hendrerit, dapibus imperdiet risus. Vestibulum auctor nibh nec vulputate dignissim. Integer at fringilla urna. In hac habitasse platea dictumst." }) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/IMG_0074.jpg", :image_two => folder + "/DSC01785.jpg", :caption => "Skull party"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Cabrera 7" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/DSC01650.jpg", :image_two => folder + "/kitchen.jpg", :caption => "Gorgeous kitchen", :height => 630}) %>
<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/DSC01667.jpg", :image_two => folder + "/DSC01676.jpg"}) %>
<%= partial(:triplet, :locals => { :image_one => folder + "/DSC01668.jpg", :image_two => folder + "/DSC01706.jpg", :image_three => folder + "/DSC01672.jpg"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Pyramid of the Sun" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>
<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC01919wide.jpg"}) %>
<%= partial(:half, :locals => { :image_one => folder + "/DSC01947.jpg", :image_two => folder + "/DSC01901large.jpg"}) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "left", :image_one => folder + "/DSC01898.jpg", :image_two => folder + "/IMG_0166.jpg", :height => 560}) %>
<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC01994wide.jpg"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Airbnb Hangin" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/DSC02050.jpg", :image_two => folder + "/DSC01506.jpg"}) %>
<%= partial(:quad, :locals => { :image_one => folder + "/DSC01882.jpg", :image_two => folder + "/DSC02065.jpg", :image_three => folder + "/DSC02068.jpg", :image_four => folder + "/DSC02072.jpg", :caption => "Mescal all day", :height => 300}) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>
<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/IMG_1746.jpg", :image_two => folder + "/DSC02056.jpg"}) %>
<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC01874.jpg", :height => 700, :focus => "bottom"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "The Churros!" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>

<%= partial(:half_heavy, :locals => { :heavy_side => "left", :image_one => folder + "/DSC01824.jpg", :image_two => folder + "/DSC01835.jpg"}) %>

<%= partial(:half, :locals => { :image_one => folder + "/DSC01817.jpg", :image_two => folder + "/DSC01819.jpg"}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "Frida Kahlo Museum" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>

<%= partial(:full_bleed, :locals => { :image_one => folder + "/DSC02113.jpg", :caption => "Frida street art on the way over", :height => 800}) %>

<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>

<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/DSC02181.jpg", :image_two => folder + "/DSC02182.jpg"}) %>

<%= partial(:text_two_col, :locals => { :col_one_copy => "Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.", :col_two_copy => "Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb." }) %>

<%= partial(:triplet, :locals => { :image_one => folder + "/DSC02180.jpg", :image_two => folder + "/DSC02144.jpg", :image_three => folder + "/DSC02169.jpg", :height => 580}) %>

<div class="divider"></div>

<%= partial(:subheader, :locals => { :copy => "The doors of Mexico City" }) %>
<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>

<%= partial(:full, :locals => { :image_one => folder + "/DSC02097.jpg", :height => 800, :focus => "bottom"}) %>

<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/DSC02083.jpg", :image_two => folder + "/DSC02188.jpg", :height => 580}) %>

<%= partial(:text_one_col, :locals => { :copy => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur sem vel pulvinar sagittis. Duis consectetur velit cursus, dictum augue dignissim, faucibus erat." }) %>

<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/DSC02127.jpg", :image_two => folder + "/DSC02129.jpg"}) %>


<%= partial(:triplet, :locals => { :image_one => folder + "/DSC01543.jpg", :image_two => folder + "/DSC02132.jpg", :image_three => folder + "/DSC02197.jpg", :height => 600,}) %>
