---
title: "Nara"
date: 2018-05-06
subheader: "A trip to Japan's ancient capital city"
location: Nara
country: Japan
folder: nara
---

<% folder = current_article.data.folder %>

<%= partial(:subheader, :locals => { :copy => "A Warm Welcome" }) %>

<section class="Wrapper Text">
  <p>After an eye-opening first week in Kyoto, our plan was to do a deep loop into Nara and Wakayama prefecture, stopping first in Nara, and then visiting the smaller rural villages of Yoshino and Koyasan before completing the loop back up in Osaka. </p>

  <p>We didn’t know much about Nara, outside of the deer park, the Buddhist temples, and the old post-town. The forecast was heavy rain, all day every day. So, we embraced! Our Airbnb host, Mickey, was waiting for us with a huge smile and a small car. We piled in with our luggage and quickly started chatting about Nara, his life, and our travels. Because we only had a few days, he offered to drop us off at the deer park immediately so we start exploring!</p>
</section>

<%= partial(:triplet, :locals => { :image_one => folder + "/IMG_3485.jpg", :image_two => folder + "/IMG_3482.jpg", :image_three => folder + "/IMG_3479.jpg", :caption => "Both macro & micro are equally as impressive", :height => 580}) %>

<%= partial(:subheader, :locals => { :copy => "The Deer Park" }) %>

<%= partial(:text_one_col, :locals => { :copy => "In the center of Nara lies a giant park filled with temples, gardens, and over 1200 deer. Being an animal lover, Jesse was overwhelmingly excited when Mickey suggested we pay a visit before we do anything else. As we arrived at the park we got out of the car, and there they were in all their glory – deer after deer after deer, lounging on the grass and fully embracing the spotty drizzle." }) %>

<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/IMG_3443.jpg", :image_two => folder + "/IMG_0333.jpg", :caption => "Jesse getting so very comfortable with the deer."}) %>


<%= partial(:text_one_col, :locals => { :copy => "Japan’s primary religion outside of Buddhism is called Shinto, translated as “the way of the Gods.” In Shinto, the deer are considered to be the messengers of said Gods. Jesse felt pure joy. Just when you’d expect the deer to scatter, they remain at a standstill, appearing noble and unbothered." }) %>

<%= partial(:half_heavy, :locals => { :heavy_side => "right", :image_one => folder + "/IMG_3438.jpg", :image_one_is_movie => true, :movies_one => folder + "/deers.mp4", :image_two => folder + "/IMG_3437.jpg", :caption => "That's the spot (watch the vid)", :height => 700}) %>


<%= partial(:text_one_col, :locals => { :copy => "Not many were interacting with the deer, but a few sniffs later they made their interest in us known. So the next hour was spent laying on the group with deer, exchanging stories and having lots of laughs together. Like dogs, they were quite fond of scratching the hard-to-reach places, like where the antlers meet the head. When Jesse is around animals he enters a childlike state, where nothing matters but the joy of that very moment. Notice there are no photos of Madi up close and personal with the deer, she prefers to study from a distance." }) %>

<%= partial(:triplet, :locals => { :image_one => folder + "/IMG_0336.jpg", :image_two => folder + "/IMG_3453.jpg", :image_three => folder + "/IMG_0335.jpg", :caption => "A deer lovers paradise", :height => 580 }) %>

<%#= partial(:full, :locals => { :image_one => folder + "/IMG_3442.jpg"}) %>

<%= partial(:subheader, :locals => { :copy => "Our First Ramen" }) %>

<%= partial(:text_one_col, :locals => { :copy => "At this point, we’d been in Japan for over a week and we still hadn’t sampled a single bowl of Ramen. We messaged our Airbnb host for recommendations and he got back to me with a local favorite, Ramen Marugen. It was pouring rain outside, but like any Japanese would, we grabbed our oversized umbrellas and embarked on a 20 minute walk to Marugen. As we entered their doors, we weren’t met with smiles and welcoming gestures, rather looks of confusion. As if they had never welcomed a Westerner before, we knew that Mickey had suggested a real-deal, local kind of spot. " }) %>

<%= partial(:half, :locals => { :image_one => folder + "/IMG_0546.jpg", :image_two => folder + "/menu.jpg", :caption => "No English? Point and order!"}) %>

<%= partial(:text_one_col, :locals => { :copy => "The menus weren’t in English, so we brought out Google translate and identified key words, and extrapolated the rest. Madi ordered the vegan ramen. Jesse ordered some sort of Onion Tonkotsu Ramen, a large Sapporo, and a side of Gyoza. When it arrived, fireworks went off. Words won’t do it justice, so you’ll have to take our word that it was an insanely delicious bowl of ramen. So good, in fact, that Jesse ordered a second. Walking home was not easy." }) %>

<%= partial(:subheader, :locals => { :copy => "Getting Lost" }) %>

<%= partial(:text_one_col, :locals => { :copy => "Traveling as a couple has its challenges. One thing we learned is that in order to thrive, we each need solo time to reflect and experience the surroundings as an individual. The next day, Madi stayed home doing some work for Thistle, and Jesse went out and explored Nara the old fashioned way - geting lost, and letting intuition lead the way, without any assistance from Google. " }) %>

<%= partial(:triplet, :locals => { :image_one => folder + "/IMG_3515.jpg", :image_one_is_movie => true, :movies_one => folder + "/IMG_3526.mp4", :image_two => folder + "/IMG_3521.jpg", :image_three => folder + "/IMG_3527.jpg", :caption => "Unfamiliar, yet welcoming", :height => 600}) %>

<%= partial(:text_one_col, :locals => { :copy => "As Jesse walked through the tourist sector, he found myself being pulled to the quiet residential streets of Nara. The landscape changed, most notably, the architecture. It felt as if he was transported back to the Edo period in the 1600s. The streets were lined with sake factories, handicraft shops, and tiny izakayas, all of which had so much subtle character. Paper thin sliding doors, ornate carvings, and dark wooden beams seemed present across every structure." }) %>

<%= partial(:triplet, :locals => { :image_one => folder + "/IMG_3488.jpg", :image_one_is_movie => true, :movies_one => folder + "/IMG_3488.mp4", :image_two => folder + "/IMG_3520.jpg", :image_three => folder + "/IMG_3486.gif", :caption => "Left: the fastest Mochi maker in Japan", :height => 580,}) %>

<section class="Wrapper Text">
  <p>At one point we heard repetitive bursts of men yelling, so we made my way towards the noise, only to find the <a href="https://www.youtube.com/watch?v=tmSrULDVRPc" target="blank">fastest mochi maker in Japan</a> pounding his mallet against a giant green mochi ball with his crew. On a side note, we ate a good bit of Mochi through our trip and ultimately grew quite disgusted by the sticky, doughie mouthfeel.</p>
</section>


<%= partial(:full_bleed_split, :locals => { :image_one => folder + "/IMG_3475.jpg", :image_two => folder + "/IMG_3467.jpg"}) %>

<%= partial(:subheader, :locals => { :copy => "Sake, anyone?" }) %>

<%= partial(:text_one_col, :locals => { :copy => "After logging over 7 miles on his walkabout, Jesse figured it was time to sit down and relax. He found Harushika sake. He entered through the noren (the traditional cloth barriers in front of a store) and was greeted with a smile from a brewery employee. She sat introduced Jesse to the 7 different types of sake they brewed, with pickles clearing my palate between tastings. Sake is absolutely delicious and has widely varying flavor profiles. He took home my favorite of the bunch, a bottle of Sakura (Cherry Blossom) sake that we drank later that night, in bed. " }) %>

<%= partial(:quad, :locals => { :image_one => folder + "/IMG_3535.gif", :image_two => folder + "/IMG_3533.jpg", :image_three => folder + "/IMG_3532.jpg", :image_four => folder + "/IMG_3530.jpg", :caption => "The winner: sake #4.", :height => 333}) %>

