<% dimensions = '1500x1500' %>
<% image_path = '/images/' %>

<% if defined?(height).nil? %>
  <section class="full_bleed_split Gallery">
<% else %>
  <section class="full_bleed_split Gallery" style="height: <%= height %>px">
<% end %>
  <a class="img_wrap" href="/images/<%= image_one %>">
    <% imageURL = image_path image_path + image_one, resize_to: dimensions %>
    <%= image_tag "blank.png", :data => { :src => imageURL }  %>
  </a>
  <a class="img_wrap" href="/images/<%= image_two %>">
    <% imageURL = image_path image_path + image_two, resize_to: dimensions %>
    <%= image_tag "blank.png", :data => { :src => imageURL }  %>
  </a>
</section>

<% if defined?(caption).nil? %>
<% else %>
  <section class="Caption Wrapper"><h4><%= caption %></h4></section>
<% end %>
