<% dimensions = '1320x1320' %>
<% image_path = '/images/' %>

<% if defined?(height).nil? %>
  <section class="full Wrapper Gallery" itemscope itemtype="http://schema.org/ImageGallery">
<% else %>
  <section class="full Wrapper Gallery" itemscope itemtype="http://schema.org/ImageGallery" style="height: <%= height %>px">
<% end %>

  <% if defined?(focus).nil? %>
    <% classes = "img_wrap" %>
  <% else %>
    <% classes = "img_wrap " + focus %>
  <% end %>

  <% if defined?(image_one_is_movie).nil? %>
    <a class="img_wrap" href="/images/<%= image_one %>">
      <% imageURL = image_path image_path + image_one, resize_to: dimensions %>
      <%= image_tag "blank.png", :data => { :src => imageURL }  %>
    </a>
  <% else %>
    <% videoURL = image_path image_path + movies_one %>
    <% imageURL = image_path image_path + image_one %>

    <div class="video_wrap">
      <video class="videos" controls playsinline poster="<%= imageURL %>">
        <source src="<%= videoURL %>" type="video/mp4" size="300">
      </video>
    </div>
  <% end %>
</section>

<% if defined?(caption).nil? %>
<% else %>
  <section class="Caption Wrapper"><h4><%= caption %></h4></section>
<% end %>
