---
pageable: false
---

<div class="Wrapper">
  <h1>Stories</h1>
  <h2>/ Jesse Chase</h2>
  <ul class="cards">
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <% link_to article, class: "link" do %>
      <% if article.data.header %>
        <% dimensions = '500x500' %>
        <% backgroundImagePath = article.data.folder + '/cover.jpg' %>
        <%= image_tag backgroundImagePath, resize_to: dimensions, class: 'thumb' %>
      <% end %>
      <div class="inner">
        <span><%= article.date.strftime('%b %e') %> · <%= article.data.location %></span>
        <h3><%= article.title %></h3>
        <% if article.data.subheader %>
          <p><%= article.data.subheader %></p>
        <% end %>
      </div>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
